[user]
        name = Matheus Fernandes
        email = matheus.frndes@gmail.com
[url "git@github.com:"]
        insteadOf = https://github.com/
[filter "lfs"]
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
[init]
        defaultBranch = main
